/*
===================================
	FEATURE PROMOS SECTION START
===================================
*/
.feature-promos{
	margin: 100px 0;
}

.feature-promos .feature-promos-text h2{
	font-size: 40px;
	margin: 30px 0;
	color: #297BFA;
}

.feature-promos .feature-promos-text  h5{
	font-size: 17px;
	font-weight: 600;
	color: #222;
	margin: 20px 0;
}

.feature-promos .feature-promos-text p{
	font-size: 15px;
	font-weight: 500;
	color: #333;
	opacity: 0.8;
	line-height: 1.5;
	margin-bottom: 70px;
}

/*
===================================
	FEATURE PROMOS SECTION END
===================================
*/



.ongoing-btns{
	padding: 10px 30px;
}

.ongoing-btns ul li a{
	display: inline-block;
	min-width: 160px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 2px 2px 10px -4px grey;
	margin: 15px;
	padding: 10px 10px;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}

.download-section{
	margin-bottom: 30px !important;
	margin-top: 40px !important;
}

.feature-section h2{
	color: #fff !important;

}





@media screen and (max-width: 991px){

.ongoing-btns ul li a{
	display: inline-block;
	min-width: 130px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 2px 2px 10px -4px grey;
	margin: 10px;
	padding: 10px 8px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}


.feature-promos .feature-promos-text h2{
	font-size: 35px;
}

}

@media screen and (max-width: 767px){
	.feature-promos {
		text-align: center;
	}
}

@media screen and (max-width: 575px){
	
.feature-promos h2{
		font-size: 24px !important;
	}

.feature-promos .feature-promos-text h5{
	font-size: 15px;
}

.feature-promos .feature-promos-text p{
	font-size: 13px;
}	

.artical-section .section-text h2{
	font-size: 24px;
}

.ongoing-btns{
	padding: 10px 15px;
}

.ongoing-btns ul li a{
	display: inline-block;


	min-width: 120px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 2px 2px 10px -4px grey;
	margin: 10px 5px;
	padding: 10px 8px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}


}

@media screen and (max-width: 575px){
.artical-section .section-text h2{
	font-size: 24px;
}

.ongoing-btns{
	padding: 10px 15px;
}

.ongoing-btns ul li a{
	display: inline-block;


	min-width: 120px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 2px 2px 10px -4px grey;
	margin: 10px 5px;
	padding: 10px 8px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}


}